.announcement {
  background: #3c3b3b;
  padding: 5px 10px;
  font-size: 14px;
}

.announcement a {
  margin-right: 200px;
  color: white;
  text-decoration: none;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
  background: white;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  width: 200px;
  height: 30px;
  margin-right: 100px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.menu {
  display: none;
}

.header-icons a {
  margin-left: 15px;
  color: #3c3b3b;
  text-decoration: none;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  border: white;
}

.search-bar button {
  border: white;
  background: #fff;
  padding: 5px;
  cursor: pointer;
}

.search-bar button svg {
  width: 24px;
  height: 24px;
  color: #3c3b3b;
}
