
.highlights {
  padding: 2rem 0;
  background-color: rgb(245, 243, 242);
}

.highlights-header {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  padding-left:56px;
  margin-bottom: 0;
}

.highlights-arrows {
  display: flex;
  gap: 1rem;
}

.highlights-arrows .arrow {
  font-size: 1.6rem;
  color: #3c3b3b;
  cursor: pointer;
  user-select: none;
  line-height: 1;
  transition: opacity 0.3s ease;
}

.highlights-arrows .arrow:hover {
  opacity: 0.5;
}



.hightlights-carousel {
  display: flex;
  gap: 0.75rem;
  overflow-x: auto;
  padding:0 0 1.5rem;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.hightlights-carousel {
  display: flex;
  gap: 1px;
  padding-left: 56px; 
  overflow-x: scroll;
}

.hightlights-carousel a {
  flex: 0 0 auto;
  width: calc((100vw - 4.5rem) / 4);
  max-width: 322px;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hightlights-carousel img {
  width: 318px;
  padding: 0;
  margin:0;
  height: 318px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

/* Hover zoom */
.hightlights-carousel a:hover img {
  transform: scale(1.02);
}

/* Tekst ispod slike */
.hightlights-carousel p {
  position: relative;
  margin: 0.6rem 0 0;
  font-size: 1rem;
  font-weight: 600;
}

/* MUJI underline hover */
.hightlights-carousel p::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.35rem;
  width: 100%;
  height: 3px;
  background-color: #7f0019;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.hightlights-carousel a:hover p::after {
  transform: scaleX(1);
}