body {
  margin: 0;
  font-family:Avenir Next, Helvetica, Arial, sans-serif;
  color: #3c3b3b;
}

.announcement {
  background: #3c3b3b;
  padding: 5px 10px;
  font-size: 14px;
}

.announcement a {
  margin-right: 200px;
  color:white;
  text-decoration: none;
}
.logo{
  width:200px;
  height:30px;
  margin-right: 100px;
}
.menu{
  display:none;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
  background: white;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 10px 10px;
  font-size: 16px;
  border: white;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  border:  white;
  border-left: none;
  background: #fff;
  padding: 5px;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}
.search-bar button svg {
    width: 24px;
    height: 24px;
    color: #3c3b3b;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.header-icons a {
  margin-left: 15px;
  color: #3c3b3b;
  text-decoration: none;
}
svg{
  height:18px;
  width:18px;
}

.nav {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 10px 0;
}

.nav a {
  margin: 0 15px;
  color: #3c3b3b;
  text-decoration: none;
  font-weight: 500;
}
.nav a {
  position: relative;
  text-decoration: none;
}

.nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;            
  width: 100%;
  height: 4px;
  background-color: #8b0000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.nav a:hover::after {
  transform: scaleX(1);
}
