.most-popular input {
  display: none;
}

.most-popular {
  max-width: 1370px;
  margin: 4rem auto;
  padding-left: 68px;
  padding-right: 68px;
}

.most-popular h3 {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 600;
}

.products-carousel {
  position: relative;
  min-height: 520px;
}

.products-page {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s ease;
}

#p1:checked ~ .products-carousel .page-1,
#p2:checked ~ .products-carousel .page-2,
#p3:checked ~ .products-carousel .page-3,
#p4:checked ~ .products-carousel .page-4,
#p5:checked ~ .products-carousel .page-5 {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.products-arrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background: rgba(33,33,33,.55);
  color: #fff;
  font-size: 3rem;
  padding: .3rem 1rem;
  cursor: pointer;
  z-index: 20;
  user-select: none;
}

.products-arrow.left { left: 0; }
.products-arrow.right { right: 0; }

.product-card a {
  text-decoration: none;
  color: #333;
}

.product-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 320px;
  object-fit: contain;
}
.product-image {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  width: 100%;
}
.img-hover { opacity: 0; }

.product-card:hover .img-main { opacity: 0; }
.product-card:hover .img-hover { opacity: 1; }

.product-card h4 {
  font-size: .95rem;
  margin: .75rem 0 .25rem;
  font-weight: 400;
}

.price {
  font-weight: 600;
}

@media (max-width: 1024px) {
  .products-page {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 764px) {
  .products-page {
    grid-template-columns: 1fr;
  }
    .products-carousel {
    min-height: auto;
  }

  .products-page {
    position: relative;
  }
    .products-page {
    grid-template-columns: 1fr;
  }


}
