
.most-popular input {
  display: none;
}

.most-popular {
  max-width: 1370px;
  margin: 4rem auto;
  padding-left: 68px;
  padding-right: 68px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.most-popular h3 {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 600;
  color: rgb(60,60,67);
}


.products-carousel {
  position: relative;
  min-height: 520px;
}

.products-page {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease, transform 0.35s ease;
}

#page1:checked ~ .products-carousel .page-1,
#page2:checked ~ .products-carousel .page-2,
#page3:checked ~ .products-carousel .page-3,
#page4:checked ~ .products-carousel .page-4,
#page5:checked ~ .products-carousel .page-5 {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.products-arrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background: rgba(33,33,33,.55);
  color: #fff;
  font-size: 3rem;
  padding: .3rem 1rem;
  cursor: pointer;
  z-index: 20;
  user-select: none;
  border-radius: 4px;
}

.products-arrow.left { left: 0; }
.products-arrow.right { right: 0; }

.product-card {
  background: #fff;
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}



.product-card a {
  text-decoration: none;
  color: #333;
  display: block;
}

.product-image {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  width: 100%;
}

.product-image img {
  width: 100%;
  height: 320px;
  object-fit: contain;
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: block;
  position: absolute;
  inset: 0;
}

.img-hover { opacity: 0; }

.product-card:hover .img-main { opacity: 0; }
.product-card:hover .img-hover { opacity: 1; }

.product-card h4 {
  font-size: .95rem;
  margin: .75rem 0 .25rem;
  font-weight: 400;
  color: rgb(60,60,67);
  transition: color 0.25s ease;
}

.product-card p.price {
  font-weight: 600;
  color: rgb(60,60,67);
  transition: color 0.25s ease;
}



/* =======================
   Responsive
   ======================= */
@media (max-width: 1024px) {
  .products-page {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 764px) {

  /* horizontal scroll */
  .products-page {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    grid-template-columns: unset;
    min-height: auto;
  }

  .products-page::-webkit-scrollbar {
    display: none;
  }

  .product-card {
    flex: 0 0 80%;
    scroll-snap-align: start;
  }

  /* hide arrows */
  .products-arrow {
    display: none;
  }
}
