.most-popular input {
  display: none;
}

.most-popular {
  max-width: 1370px;
  margin: 4rem auto;
  padding-left: 68px;
  padding-right: 68px;
}

.most-popular h3 {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 600;
}

.products-carousel {
  position: relative;
  min-height: 520px;
}

.products-page {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s ease;
}
.product-card .products-arrow{
    display: none;
}
#p1:checked ~ .products-carousel .page-1,
#p2:checked ~ .products-carousel .page-2,
#p3:checked ~ .products-carousel .page-3,
#p4:checked ~ .products-carousel .page-4,
#p5:checked ~ .products-carousel .page-5 {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.products-arrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background: rgba(33,33,33,.55);
  color: #fff;
  font-size: 3rem;
  padding: .3rem 1rem;
  cursor: pointer;
  z-index: 20;
  user-select: none;
}

.products-arrow.left { left: 0; }
.products-arrow.right { right: 0; }

.product-card a {
  text-decoration: none;
  color: #333;
}

.product-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 320px;
  object-fit: contain;
}
.product-image {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  width: 100%;
}
.img-hover { opacity: 0; }

.product-card:hover .img-main { opacity: 0; }
.product-card:hover .img-hover { opacity: 1; }

.product-card h4 {
  font-size: .95rem;
  margin: .75rem 0 .25rem;
  font-weight: 400;
}

.price {
  font-weight: 600;
}



@media (max-width: 764px) {

  .products-page {
    position: static;
    display: contents;
    opacity: 1;
    visibility: visible;
  }

  .product-card {
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;
  }

  #p1:checked ~ .products-carousel .product-1,
  #p2:checked ~ .products-carousel .product-2,
  #p3:checked ~ .products-carousel .product-3,
  #p4:checked ~ .products-carousel .product-4,
  #p5:checked ~ .products-carousel .product-5,
  #p6:checked ~ .products-carousel .product-6,
  #p7:checked ~ .products-carousel .product-7,
  #p8:checked ~ .products-carousel .product-8,
  #p9:checked ~ .products-carousel .product-9,
  #p10:checked ~ .products-carousel .product-10,
  #p11:checked ~ .products-carousel .product-11,
  #p12:checked ~ .products-carousel .product-12,
  #p13:checked ~ .products-carousel .product-13,
  #p14:checked ~ .products-carousel .product-14,
  #p15:checked ~ .products-carousel .product-15,
  #p16:checked ~ .products-carousel .product-16,
  #p17:checked ~ .products-carousel .product-17,
  #p18:checked ~ .products-carousel .product-18,
  #p19:checked ~ .products-carousel .product-19,
  #p20:checked ~ .products-carousel .product-20 {
    position: relative;
    opacity: 1;
    visibility: visible;
  }

  .dektop-arrows {
    display: none;
  }

  .product-card .products-arrow {
    display: block;
  }

}

