
.sale-section {
  background: #d7b48a;
  padding: 150px 0; 
}

.sale-inner {
  margin: 0 auto;
  display: flex;
  gap: 90px;
}

.sale-text-container {
  color: #8b0000;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  padding-left: 70px;
}

.sale-title-text {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1.2;
}
.sale-text {
  font-size: 40px;      
  font-weight: normal;
  margin: 0;
  line-height: 1.2;
  letter-spacing: 1px;
}
.sale-sub-text {
  font-size: 18px;
  margin: 4px 0;
  line-height: 1.2;
}

.sale-promo-text {
  font-size: 100px;
  font-weight: 700;
  margin: 4px 0;
  line-height: 1;
}

.sale-note-text {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: normal;
  margin-top: 6px;
  line-height: 1.2;
}


.sale-images {

  flex: 2;
  display: flex;
  justify-content: flex-end; 
  gap: 10px;
}

.sale-item {
  position: relative;
  display: block;
  text-decoration: none;
  color: #fff;
}

.sale-item img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  display: block;
}

.sale-item span {
  position:absolute;
  bottom: 15px;
  left: 45%;
  font-weight: bold;
}
.sale-item span::after {
  content: '';
  display: block;
  height: 4px;           
  width: 100%;
  background-color: #8b0000;    
  transform: scaleX(0);   
  transform-origin: left;    
  transition: transform 0.4s ease;  
  margin-top: 4px;          
}

.sale-item:hover span::after {
  transform: scaleX(1);     
}
.sale-item:hover img {
  opacity: 1;
  cursor: pointer;
}