body {
  margin: 0;
  font-family:Avenir Next, Helvetica, Arial, sans-serif;
  color: #3c3b3b;
}

.announcement {
  background: #3c3b3b;
  padding: 5px 10px;
  font-size: 14px;
}

.announcement a {
  margin-right: 200px;
  color:white;
  text-decoration: none;
}
.logo{
  width:200px;
  height:30px;
  margin-right: 100px;
}
.menu{
  display:none;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
  background: white;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 10px 10px;
  font-size: 16px;
  border: white;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  border:  white;
  border-left: none;
  background: #fff;
  padding: 5px;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}
.search-bar button svg {
    width: 24px;
    height: 24px;
    color: #3c3b3b;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.header-icons a {
  margin-left: 15px;
  color: #3c3b3b;
  text-decoration: none;
}
svg{
  height:18px;
  width:18px;
}

.nav {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 10px 0;
}

.nav a {
  margin: 0 15px;
  color: #3c3b3b;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}

.sale-section {
  background: #d7b48a;
  padding: 150px 0; 
}

.sale-inner {
  margin: 0 auto;
  display: flex;
  gap: 90px;
}

.sale-text-container {
  color: #8b0000;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  padding-left: 70px;
}

.sale-title-text {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1.2;
}
.sale-text {
  font-size: 40px;      
  font-weight: normal;
  margin: 0;
  line-height: 1.2;
  letter-spacing: 1px;
}
.sale-sub-text {
  font-size: 18px;
  margin: 4px 0;
  line-height: 1.2;
}

.sale-promo-text {
  font-size: 100px;
  font-weight: 700;
  margin: 4px 0;
  line-height: 1;
}

.sale-note-text {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: normal;
  margin-top: 6px;
  line-height: 1.2;
}


.sale-images {

  flex: 2;
  display: flex;
  justify-content: flex-end; 
  gap: 10px;
}

.sale-item {
  position: relative;
  display: block;
  text-decoration: none;
  color: #fff;
}

.sale-item img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  display: block;
}

.sale-item span {
  position:absolute;
  bottom: 15px;
  left: 45%;
  font-weight: bold;
}

.sale-item:hover img {
  opacity: 0.9;
  cursor: pointer;
}
@media (max-width: 768px) {
  .menu {
    display: block;
    flex: 1;
    text-align: left;
    font-size: 24px;
    padding: 0; 
    padding-left:10px; 
    margin: 0;      
  }

  .header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;      
    margin: 0;      
  }

  .logo {
    text-align: center;
    width: auto;     
    height: auto;
    padding: 0;
    margin: 0 auto;
  }

  .header-icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 0;
    padding-right: 10px;
    margin: 0;
  }

  .icon-user, .human-icon {
    display: none;
  }

  .header-top .search-bar {
    flex-basis: 100%;
    order: 2;
    display: flex;
    justify-content: center;
    margin: 0;    
    padding: 0;
  }

  .header-top .search-bar input {
    width: 85%;
    padding: 8px;
    font-size: 14px;
  }

  .header-top .search-bar button {
    padding: 8px;
  }

  .nav {
    display: none;
  }
  .sale-section {
    padding: 50px 0;
  }
  .sale-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .sale-text-container {
    width: 100%;         
    text-align: left;     
    padding: 10px 15px;   
    margin-bottom: 15px;  
    color: #8b0000;       
  }

  .sale-title-text {
    font-size: 28px;      

  }
  .sale-text {
    font-size: 28px;      
  }
  .sale-sub-text {
    font-size: 16px;   
    margin: 4px 0;
  }

  .sale-promo-text {
    font-size: 52px;     
    font-weight: 700;
    margin: 4px 0;
    line-height: 1;
  }

  .sale-images-wrapper{
    box-sizing: border-box;
    cursor: auto;
    display: block;
    line-height:24px;
    font-size: 16px;
    margin:0;
    padding:0;
    position: relative;
    unicode-bidi: isolate;
    -webkit-font-smoothing: antialiased;
    width:400px;
    height:370px;
  }
  .sale-images {
    box-sizing: border-box;
    column-gap: 8px;
    display: flex;
    flex-wrap: nowrap;  
    margin:0;
    padding:0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    justify-content: flex-start;
    width:400px;
    height: 370px;
    gap: 0;
  }

  .sale-images::-webkit-scrollbar {
    display: none;
  }

  .sale-item {
    width: 296px;
    height: 370px;
    padding: 5px;
    flex-basis: 74%;
    position: relative;
    scroll-snap-align: start;
    text-decoration: none;
  }
  .sale-item a{
    width: 296px;
    height: 370px;
    padding: 5px;
    flex-basis: 74%;
    position: relative;
    scroll-snap-align: start;
    text-decoration: none;
    }
  .sale-item img {
    width: 296px;
    height: 370px;
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;
  }

  .sale-item span {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 0 2px 8px rgba(0,0,0,0.6);
  }
}
